
@{
    ViewData["Title"] = "Tier1Configuration";
}
<b>Tier1 Configuration</b>
<ul>
    <li>App Service plan.</li>
    <li>Any other related resources, like databases or storage accounts.</li>
</ul>
<input id="submit" type="button" onclick="location.href='@Url.Action("Tier2Configuration", "Template")'"
       value="Next" style="border:0px;background:transparent;text-decoration:none;cursor:pointer;" />


