
@{
    ViewData["Title"] = "Tier5Configuration";
}

<b>Tier5 Configuration</b>
<ul>
    <li>Host name bindings</li>
    <li>Site extensions</li>
</ul>
<input id="submit" type="button" onclick="location.href='@Url.Action("TemplateReview", "Template")'"
       value="Review & Submit" style="border:0px;background:transparent;text-decoration:none;cursor:pointer;" />

