
@{
    ViewData["Title"] = "Tier3Configuration";
}

<b>Tier3 Configuration</b>
<ul>
    <li>Source control</li>
    <li>MSDeploy site extension</li>
    <li>Application Insights instance</li>
</ul>
<input id="submit" type="button" onclick="location.href='@Url.Action("Tier4Configuration", "Template")'"
       value="Next" style="border:0px;background:transparent;text-decoration:none;cursor:pointer;" />

