
@{
    ViewData["Title"] = "Tier2Configuration";
}

<b>Tier2 Configuration</b>
<ul>
    <li>Web app</li>
    <li>Azure Application Insights instance</li>
</ul>
<input id="submit" type="button" onclick="location.href='@Url.Action("Tier3Configuration", "Template")'"
       value="Next" style="border:0px;background:transparent;text-decoration:none;cursor:pointer;" />

