
@{
    ViewData["Title"] = "AppConfiguration";
}
<b>Application Configuration</b>
<ul>
    <li>Configure Database</li>
    <li>Bind SSL Certificate</li>
    <li>Map Custom Domain</li>
    <li>Configure Authentication</li>
    <li>Configure CDN</li>
    <li>Enable CORS</li>
    <li>View App Configurations </li>
</ul>

