
@{
    ViewData["Title"] = "InformationUpdates";
}
<h5>Information Updates</h5>
<table border="0" style="width:1020px;">
    <tr>
        <td align="left" style="height:26px;" valign="top">
            <div><p>Updates to the migration progress.</p></div>
        </td>
    </tr>
    <tr>
        <td align="left" style="height:26px;" valign="top">
            <input id="submit" type="button" value="Start Over" onclick="location.href='@Url.Action("AppInformation", "Home")'"
                   style="border:0px;background:transparent;text-decoration:none;cursor:pointer;" />
        </td>
    </tr>
</table>

